<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>

<body style="background-color: #212529; color: white;">

    <div style="text-align: center; padding: 5%;">

        <h3> TO ACCESS ADMIN PANEL </h3>
        <br>

        <h5>ENTER YOUR LOGIN CREDENTIALS</h5>
        <br>
        <div class="container" style="text-align: center; background-color: white; color: black;">

            <div>
                <br>
                <br>
                <h5> Enter USERNAME :</h5>
                <br>
                <input type="text" placeholder="Enter Username" id="uname" required>
                <br>
                <br>
            </div>
            <div>
                <h5> ENTER PASSWORD : </h5>
                <br>
                <input type="password" placeholder="Enter Password" id="psw" required>
                <br>
            </div>
            <br>
            <br>

            <button type="submit" class="btn btn-dark" id="login" onclick="validateadmin()">Login</button>
            <br>
            <br>



        </div>

    </div>
    <script>

        function validateadmin() {
            var adminuname = document.getElementById('uname').value;
            console.log(adminuname);
            var adminpassword = document.getElementById('psw').value;
            console.log(adminpassword);
            if (adminuname == 'ADMIN001' && adminpassword == 'admin') {
                alert("Login Success!, Welcome Admin :) ")
                location.href = 'adminpanel';
            }
            else
                alert("Wrong Credentials!, Try again :)")
        }

    </script>
</body>

</html>