<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Signup</title>
</head>

<body style="background-color: #212529; color: white;">
    <div style="text-align: center; padding: 5%;">
        <h3>USER SIGNUP </h3>
    </div>
    <div class="container">
        {%with messages = get_flashed_messages() %}

        {%if messages%}

        {%for message in messages%}

        <div class="alert alert-success alert-dismissable" role="alert">

            <button type="button" class="btn btn-light" onclick="location.href='login'">
                LOGIN
            </button>
            <button type="button" class="close" data-dismiss="alert" aria-label="close">

                <span aria-hidden="true">x</span>

            </button>

            {{message}}

        </div>



        {%endfor%}
        {%endif%}
        {%endwith%}
    </div>


    <div style="text-align: center;">
        <form action="{{url_for('signupuser')}}" method="post">


            <h5>ENTER YOUR DETAILS AND REGISTER</h5>
            <br>
            <div class="container" style="text-align: center;">
                <table class="table table-bordered table-dark ">
                    <tr>
                        <td>
                            <label><b> EMAIL ID </b></label>
                        </td>
                        <td>
                            <input type="text" placeholder="Enter Email-id" id="cust_email" name="cust_email" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="name"><b> NAME</b></label>
                        </td>
                        <td>
                            <input type="text" placeholder="Enter Fullname" id="cust_name" name="cust_name" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label><b> PHONE NUMBER </b></label>
                        </td>
                        <td>
                            <input type="text" placeholder="Enter phone number" id="cust_number" name="cust_number"
                                required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label><b> STREET ADDRESS </b></label>
                        </td>
                        <td>
                            <input type="text" placeholder="Enter street address" id="cust_street" name="cust_street"
                                required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label><b> PINCODE </b></label>
                        </td>
                        <td>
                            <input type="text" placeholder="Enter pin code" id="cust_pincode" name="cust_pincode"
                                required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label><b> STATE </b></label>
                        </td>
                        <td>
                            <input type="text" placeholder="Enter state" id="cust_state" name="cust_state"
                                required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="psw"><b> PASSWORD </b></label>
                        </td>
                        <td>

                            <input type="password" placeholder="Enter Password" id="cust_password" name="cust_password"
                                required>
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <input type="submit">
                        </td>
                    </tr>


                </table>



            </div>

        </form>
    </div>

</body>

</html>