<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>

<body style="background-color: #212529; color: white;">
    <div class="container" style="text-align: center;">
        <div style="padding: 5%;">

            <br>
            <h3>PRODUCT DETAILS</h3>

            <br>
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#productmodal">
                ADD PRODUCT </button>
            <button type="button" class="btn btn-dark" onclick="location.href='adminpanel'">
                ADMIN PANEL </button>
            <br>
        </div>

        {%with messages = get_flashed_messages() %}

        {%if messages%}

        {%for message in messages%}

        <div class="alert alert-dark alert-dismissable" role="alert">

            <button type="button" class="close" data-dismiss="alert" aria-label="close">

                <span aria-hidden="true">x</span>

            </button>

            {{message}}

        </div>



        {%endfor%}
        {%endif%}
        {%endwith%}


        <div>
            <table class="table table-borderless table-dark">
                <tr>
                    <th>PRODUCT ID</th>
                    <th>PRODUCT NAME</th>
                    <th>DESCRIPTION</th>
                    <th>COST</th>
                    <th>QUANTITY</th>
                    <th>CATEGORY</th>
                    <th>ACTION</th>
                </tr>


                {% for row in categoryname %}

                <tr>
                    <td> {{row.0}} </td>
                    <td> {{row.1}} </td>
                    <td> {{row.2}} </td>
                    <td> {{row.3}} </td>
                    <td> {{row.4}} </td>
                    <td> {{row.6}} </td>

                    <td>
                        <a href="/product/update/{{row.0}}" class="btn btn-warning btn-xs" data-toggle="modal"
                            data-target="#productmodaledit{{row.0}}">EDIT</a>
                        <a href="/product/delete/{{row.0}}" class="btn btn-danger btn-xs"
                            onclick="return  confirm('Are you sure to delete?')">DELETE</a>



                    </td>
                </tr>

                {% endfor %}

            </table>
        </div>



        <div class="modal fade" id="productmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="background-color: #212529;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">INSERT DATA</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form action="{{url_for('addproduct')}}" method="POST">

                            <center>
                                <table class="table">
                                    <tr>
                                        <td>
                                            <label for="prodid">PRODUCT ID</label> <br>
                                            <label for="prname">PRODUCT NAME</label> <br>
                                            <label for="prdesc">DESCRIPTION</label> <br>
                                            <label for="prcost">COST</label> <br>
                                            <label for="prquantity">QUANTITY</label>
                                            <label for="category-select">CHOOSE A CATEGORY</label>
                                        </td>

                                        <td>
                                            <input type="text" name="prod_id" id="prod_id" required /> <br>
                                            <input type="text" name="prod_name" id="prod_name" required /> <br>
                                            <input type="text" name="prod_des" id="prod_des" required /> <br>
                                            <input type="number" name="prod_cost" id="prod_cost" required /> <br>
                                            <input type="number" name="prod_quantity" id="prod_quantity" required />

                                            <select name="cat_id" id="cat_id" required>

                                                <option value="">CHOOSE FROM BELOW OPTIONS</option>
                                                {% for row in category %}
                                                <option value="{{row.0}}"> {{row.1}} </option>
                                                {% endfor %}
                                            </select>
                                        </td>

                                    </tr>
                                </table>

                                <input type="submit" value="Submit">
                            </center>
                        </form>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>

                    </div>
                </div>
            </div>
        </div>




        {% for row in product %}

        <div class="modal fade" id="productmodaledit{{row.0}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="background-color: #212529;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">EDIT DATA</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                        <form action="{{url_for('product_update')}}" method="POST">

                            <center>
                                <table class="table">
                                    <tr>
                                        <td>
                                            <label for="prodid">PRODUCT ID</label> <br>
                                            <label for="prname">NAME</label> <br>
                                            <label for="prdesc">DESCRIPTION</label> <br>
                                            <label for="prcost">COST</label> <br>
                                            <label for="prquantity">QUANTITY</label>

                                        </td>

                                        <td>

                                            <input type="text" name="prod_id" id="prod_id" value="{{row.0}}" />
                                            <input type="text" name="prod_name" id="prod_name" value="{{row.1}}" />
                                            <input type="text" name="prod_des" id="prod_des" value="{{row.2}}" />
                                            <input type="text" name="prod_cost" id="prod_cost" value="{{row.3}}" />
                                            <input type="text" name="prod_quantity" id="prod_quantity"
                                                value="{{row.4}}" />


                                        </td>

                                    </tr>
                                </table>
                                <input type="submit" value="Submit">
                            </center>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>

                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</body>

</html>