<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>

<body style="text-align: center;">
    <div style="padding: 1%; text-align: center;">
        <h1>Welcome Admin! </h1>
        <br>
        <img src="static/images/hardware.jpg" style="width: 20%;">
    </div>
    <div style="padding: 1%;">

        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-dark btn-lg btn-block" onclick="location.href='addcategory';">ADD
                    CATEGORY</button>
                <br>
                <button type="button" class="btn btn-dark btn-lg btn-block" onclick="location.href='vieworder';">VIEW
                    ORDERS</button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-dark btn-lg btn-block" onclick="location.href='addproduct';">ADD
                    PRODUCTS</button>
                <br>
                <button type="button" class="btn btn-dark btn-lg btn-block" onclick="location.href='viewstatus';">VIEW
                    STATUS
                    UPDATES</button>
                <br>

            </div>

        </div>




        <button type="button" class="btn btn-dark btn-lg btn-block" onclick="location.href='viewinventory';">VIEW
            PRODUCT SALES</button>
        <br>

    </div>
</body>

</html>