<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Orders</title>
</head>

<body style="background-color: #212529; color: white;">
    <div class="container" style="text-align: center;">
        <div style="padding: 5%;">
            <h1>VIEW</h1>
            <br>
            <h3>ORDER DETAILS AND SUMMARY</h3>

            <br>

            <button type="button" class="btn btn-dark" onclick="location.href='adminpanel'">
                ADMIN PANEL </button>
            <br>
        </div>
    </div>

    <div class="container">
        <table class="table table-borderless table-dark">
            <tr>
                <th>ORDER NO.</th>
                <th>CUSTOMER NO.</th>
                <th>PURCHASE DATE</th>
                <th>TOTAL PRICE</th>

                <th>TOTAL QUANTITY</th>

            </tr>


            {% for row in vieworder %}

            <tr>
                <td> {{row.0}} </td>
                <td> {{row.1}} </td>
                <td> {{row.2}} </td>
                <td> {{row.3}} </td>
                <td> {{row.4}} </td>


            </tr>

            {% endfor %}

        </table>
    </div>

    <br>
    <br>

    <div class="container">
        <table class="table table-borderless table-dark">
            <tr>
                <th>ITEM ID</th>
                <th>ORDER NO.</th>
                <th>PRODUCT ID</th>
                <th>PRODUCT COST</th>
                <th>PRODUCT QUANTITY</th>
                <th>TOTAL COST</th>



            </tr>


            {% for row in viewitem %}

            <tr>
                <td> {{row.0}} </td>
                <td> {{row.1}} </td>
                <td> {{row.2}} </td>
                <td> {{row.3}} </td>
                <td> {{row.4}} </td>
                <td> {{row.5}} </td>


            </tr>

            {% endfor %}

        </table>
    </div>
</body>

</html>